<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap/Bootswatch CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <title>Mission to Mars</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <!-- container -->
    <div class="container">
      <!-- jumbotron -->
      <div class="jumbotron text-center p-3">
        <h1>Mission to Mars</h1>
        <a class="btn btn-primary btn-lg mt-3" href="/scrape" role="button">Scrape the galactical net for Marsy stuff!</a>
      </div><!-- /jumbotron -->
      <div class="row">
        <!-- Mars News -->
        <div class="col-md-12" id="mars-news">
          <h2 class="mb-3">Latest Mars News</h2>
          <p class="lead mb-1">{{ mars_data.news_title }}</p>
          <p>{{ mars_data.news_content }}</p>
        </div><!-- /Mars News -->
      </div>
      <!-- 2nd row -->
      <div class="row">
        <!-- Featured Mars Image -->
        <div class="col-md-6" id="feat-img">
          <h2>Featured Mars Image</h2>
          <img src="{{ mars_data.featured_img_url }}" class="img-fluid p-2" alt="Featured Mars Image">
        </div><!-- /Featured Mars Image -->
        <div class="col md-5 offset-md-1">
          <!-- Mars Weather -->
          <div class="col-md-12 pt-3 mt-5" id="mars-weather">
            <div class="card border-secondary">
              <div class="card-body">
                <h4 class="card-title">Mars Weather</h4>
                <h6>Unless sosmething other than weather is posted to weather twitter.</h6>
                <p class="card-text">{{ mars_data.mars_tweet}}</p>
              </div>
            </div>
          </div><!-- /Mars Weather -->

          <!-- Mars Facts -->
          <div class="col-md-12 mt-4" id="mars-facts">
            <div class="card border-secondary">
              <div class="card-body">
                <h4 class="card-title">Mars Fake News</h4>
                <p class="card-text">{{ mars_data.facts_tab_html | safe }}</p>
              </div>
            </div>
          </div><!-- /Mars Facts -->
        </div><
      </div>
      <div class="row justify-content-center">
        <!-- Mars Hemispheres -->
        <div class="col-md-12" id="mars-hemispheres">
          <h2 class="text-center mt-4">Mars Instagram Angles</h2>
        </div>
          {% for hemisphere in mars_data.hemisphere_data %}
            <div class="col-md-4 card border secondary m-3">
              <img class="card-img-top" src="{{ hemisphere.img_url }}" alt="{{ hemisphere.title }}">
              <div class="card-body">
                <h4 class="card-title text-center">{{ hemisphere.title }}</h4>
              </div>
            </div>
          {% endfor %}

        <!-- /Mars Hemispheres -->

      </div>
    </div><!-- /container -->
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
 </html>
